@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Relaway;
}
@font-face {
    font-family: 'Relaway';
    src: url('fonts/Releway-Black.ttf') format('ttf'),
        url('fonts/Releway-Bold.ttf') format('ttf'),
        url('fonts/Releway-ExtraBold.ttf') format('ttf'),
        url('fonts/Releway-ExtraLight.ttf') format('ttf'),
        url('fonts/Releway-Italic.ttf') format('ttf'),
        url('fonts/Releway-Light.ttf') format('ttf'), 
        url('fonts/Releway-Medium.ttf') format('ttf'),
        url('fonts/Releway-Regular.ttf') format('ttf'),
        url('fonts/Releway-SemiBold.ttf') format('ttf'),
        url('fonts/Releway-Thin.ttf') format('ttf'),
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

 /*** Footer Svg ***/
#myDiv {
    transition: background-color 0.3s, color 0.3s;
}

#mySvg {
    color: #fff;
    transition: color 0.3s;
}

#myDiv:hover {
    background-color: #fff; 
    color: white;
}

#myDiv:hover #mySvg {
    color: #0073ce; 
}
#myDiv:hover + h1 {
    opacity: 1;
}